
    .subscribe-button {
        background-color: rgb(204, 0, 0);
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        margin-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        transition: opacity 0.15s;
        vertical-align: top;
    }
    .subscribe-button:hover {
        opacity: 0.8;
    }
    .subscribe-button:active {
        opacity: 0.5;
    }

    .join-button {
        background-color: white;
        border-color: rgb(6, 95, 212);
        border-style: solid;
        border-width: 1.5px;
        color: rgb(6, 95, 212);
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .join-button:hover {
        background-color: rgb(6, 95, 212);
        color: white;
    }
    .join-button:active {
        opacity: 0.7;
    }

    .tweet-button {
        background-color: rgb(29, 155, 240);
        color: white;
        border: none;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        transition: box-shadow 0.15s;
        vertical-align: top;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: 8px;
    }
    .tweet-button:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);
    }

    .request-button {
        background-color: black;
        color: white;
        height: 43px;
        width: 120px;
        border: none;
        font-size: 14px;
        border-radius: 2px;
        cursor: pointer;
    }
    .request-button:hover {
        opacity: 0.8;
    }
    .request-button:active {
        opacity: 0.5;
    }

    .amazon-add-to-card-button {
        background-color: rgb(255, 216, 20);
        color: black;
        border: none;
        height: 40px;
        width: 220px;
        border-radius: 20px;
        font-size: 19px;
        margin-left: 10px;
        cursor: pointer;
    }
    .amazon-add-to-card-button:hover {
        background-color: rgb(255, 200, 0);
    }
    .amazon-add-to-card-button:active {
        background-color: rgb(255, 180, 0);
    }

    .github-sign-up-button {
        background-color: rgb(46, 164, 79);
        color: white;
        border: none;
        height: 50px;
        width: 140px;
        border-radius: 10px;
        font-size: 19px;
        font-weight: bold;
        cursor: pointer;
        transition: box-shadow 0.15s;
    }
    .github-sign-up-button:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);
    }

    .bootstrap-get-started-button {
        background-color: rgb(121, 82, 179);
        color: white;
        border: none;
        height: 50px;
        width: 150px;
        border-radius: 5px;
        font-size: 19px;
        font-weight: bolder;
        margin-right: 8px;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
    }
    .bootstrap-get-started-button:hover {
        background-color: rgb(100, 70, 150);
    }

    .bootstrap-download-button {
        background-color: rgb(244, 241, 241);
        color: gray;
        height: 50px;
        width: 150px;
        border-radius: 5px;
        border-color: gray;
        font-size: 19px;
        font-weight: bolder;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
    }
    .bootstrap-download-button:hover {
        background-color: gray;
        color: white;
    }

    .linkedin-apply-button {
        background-color: rgb(10, 102, 194);
        color: white;
        border: none;
        height: 45px;
        width: 320px;
        border-radius: 20px;
        font-size: 19px;
        font-weight: bolder;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
    }
    .linkedin-apply-button:hover {
        background-color: rgb(10, 80, 150);
    }

    .linkedin-save-button {
        background-color: white;
        color: rgb(10, 102, 194);
        border-color: rgb(10, 102, 194);
        height: 45px;
        width: 100px;
        border-radius: 20px;
        font-size: 19px;
        font-weight: bolder;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
    }
    .linkedin-save-button:hover {
        background-color: #C9D3E1FF;
        color: rgb(10, 102, 194);
    }
